<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Mongoose in the Building</title>
  </head>
  <body>
    <a href="/mongoose/new">Add a new Mongoose</a>
    <h1>Here are all the Mongoose</h1>
  </body>
</html>
